.root {
    -fx-base: #ffffff;
    -fx-background: #f0f0f0;
    -fx-text-fill: #000000;
}

.nav_btn {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000000;
}

.left_pane {
    -fx-background-color: #f5f5f5;
}

.bottom_pane {
    -fx-background-color: #e0e0e0;
}
